*.pyc
*.bkp
*.dtmp
Scrape/
*.pkl
25*.md
python/Data/apple.db-journal
*-idx1-ubyte
*-idx3-ubyte
*-idx1-ubyte.gz
*-idx3-ubyte.gz
*/model.pth
*/model.pth
apple.db
apple.db-journal
apple.sqbpro
*.swp
python/work/data/250617_scrape/*
python/work/data/250602_scrape/*
python/work/data/250713_03_scrape/*
