*.drawio.bkp
*/__pycache__
string/kmp/__pycache__/kmp.cpython-311.pyc
string/kmp/__pycache__/kmp1.cpython-311.pyc
string/kmp/__pycache__/test_kmp.cpython-311-pytest-8.3.5.pyc
string/manacher/__pycache__/manacher.cpython-311.pyc
string/manacher/__pycache__/manacher1.cpython-311.pyc
string/manacher/__pycache__/test_manager.cpython-311-pytest-8.3.5.pyc
string/z/__pycache__/test_z.cpython-311-pytest-8.3.5.pyc
string/z/__pycache__/z2.cpython-311.pyc
